USE [master]
GO
/****** Object:  Database [WebReceptionDB]    Script Date: 10/16/2025 1:55:20 PM ******/
CREATE DATABASE [WebReceptionDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebReceptionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebReceptionDB]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelUsers]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICalSyncLog]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICalSyncLog](
	[SyncID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[SyncTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Message] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SyncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[ReportType] [nvarchar](50) NULL,
	[GeneratedAt] [datetime] NULL,
	[FilePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[GuestID] [int] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomID] [int] NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[Status] [nvarchar](30) NULL,
	[Source] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[LinkIcal] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 10/16/2025 1:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[RoomCount] [int] NULL,
	[ICalLink] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestID], [FullName], [Email], [Phone], [CreatedAt]) VALUES (1, N'Phạm Minh Tâm', N'tam.pham@example.com', N'0905123456', CAST(N'2025-10-06T22:55:45.650' AS DateTime))
INSERT [dbo].[Guests] ([GuestID], [FullName], [Email], [Phone], [CreatedAt]) VALUES (2, N'Lê Thị Hồng', N'hong.le@example.com', N'0912345678', CAST(N'2025-10-06T22:55:45.650' AS DateTime))
INSERT [dbo].[Guests] ([GuestID], [FullName], [Email], [Phone], [CreatedAt]) VALUES (3, N'Trần Quốc Dũng', N'dung.tran@example.com', N'0987654321', CAST(N'2025-10-06T22:55:45.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Email], [Address], [CreatedAt], [IsActive]) VALUES (1, N'Sunrise Hotel', N'contact@sunrisehotel.com', N'123 Trần Phú, Đà Nẵng', CAST(N'2025-10-06T22:55:45.560' AS DateTime), 1)
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Email], [Address], [CreatedAt], [IsActive]) VALUES (2, N'Blue Ocean Resort', N'info@blueoceanresort.com', N'99 Nguyễn Văn Thoại, Đà Nẵng', CAST(N'2025-10-06T22:55:45.560' AS DateTime), 1)
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Email], [Address], [CreatedAt], [IsActive]) VALUES (3, N'Hotel Test', N'test@gmail.com', N'HCM City 123', CAST(N'2025-10-08T18:59:56.027' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelUsers] ON 

INSERT [dbo].[HotelUsers] ([UserID], [HotelID], [Username], [PasswordHash], [FullName], [Role], [Email], [CreatedAt], [IsActive]) VALUES (1, 1, N'sunadmin', N'3CE57064AD5B92DFC5A1C4C54DFED7D63C3073EBF6E4E3CF0A546961369DC133', N'Nguyễn Văn A', N'Admin', N'admin@sunrisehotel.com', CAST(N'2025-10-06T22:55:45.613' AS DateTime), 1)
INSERT [dbo].[HotelUsers] ([UserID], [HotelID], [Username], [PasswordHash], [FullName], [Role], [Email], [CreatedAt], [IsActive]) VALUES (2, 1, N'recept01', N'3CE57064AD5B92DFC5A1C4C54DFED7D63C3073EBF6E4E3CF0A546961369DC133', N'Trần Thị B', N'Receptionist', N'recept@sunrisehotel.com', CAST(N'2025-10-06T22:55:45.613' AS DateTime), 1)
INSERT [dbo].[HotelUsers] ([UserID], [HotelID], [Username], [PasswordHash], [FullName], [Role], [Email], [CreatedAt], [IsActive]) VALUES (3, 2, N'blueadmin', N'3CE57064AD5B92DFC5A1C4C54DFED7D63C3073EBF6E4E3CF0A546961369DC133', N'Lê Văn C', N'Admin', N'admin@blueoceanresort.com', CAST(N'2025-10-06T22:55:45.613' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HotelUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[ICalSyncLog] ON 

INSERT [dbo].[ICalSyncLog] ([SyncID], [HotelID], [RoomTypeID], [SyncTime], [Status], [Message]) VALUES (1, 1, 1, CAST(N'2025-10-06T22:55:45.673' AS DateTime), N'Success', N'Đồng bộ thành công 12 đặt phòng')
INSERT [dbo].[ICalSyncLog] ([SyncID], [HotelID], [RoomTypeID], [SyncTime], [Status], [Message]) VALUES (2, 1, 2, CAST(N'2025-10-06T22:55:45.673' AS DateTime), N'Failed', N'Lỗi kết nối iCal URL')
INSERT [dbo].[ICalSyncLog] ([SyncID], [HotelID], [RoomTypeID], [SyncTime], [Status], [Message]) VALUES (3, 2, 3, CAST(N'2025-10-06T22:55:45.673' AS DateTime), N'Success', N'Đồng bộ 5 đặt phòng từ iCal')
SET IDENTITY_INSERT [dbo].[ICalSyncLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [HotelID], [ReportType], [GeneratedAt], [FilePath]) VALUES (1, 1, N'DailyArrivals', CAST(N'2025-10-06T22:55:45.680' AS DateTime), N'/reports/2025-10-06-daily.pdf')
INSERT [dbo].[Reports] ([ReportID], [HotelID], [ReportType], [GeneratedAt], [FilePath]) VALUES (2, 2, N'Checkouts', CAST(N'2025-10-06T22:55:45.680' AS DateTime), N'/reports/2025-10-06-checkouts.xlsx')
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [HotelID], [GuestID], [RoomTypeID], [RoomID], [CheckInDate], [CheckOutDate], [Notes], [Status], [Source], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, 1, 1, CAST(N'2025-10-06' AS Date), CAST(N'2025-10-08' AS Date), N'Khách check-in hôm nay', N'Checked-in', N'Manual', 1, CAST(N'2025-10-06T22:55:45.667' AS DateTime))
INSERT [dbo].[Reservations] ([ReservationID], [HotelID], [GuestID], [RoomTypeID], [RoomID], [CheckInDate], [CheckOutDate], [Notes], [Status], [Source], [CreatedBy], [CreatedAt]) VALUES (2, 1, 2, 2, 3, CAST(N'2025-10-07' AS Date), CAST(N'2025-10-10' AS Date), N'Khách sẽ đến ngày mai', N'Booked', N'Manual', 2, CAST(N'2025-10-06T22:55:45.667' AS DateTime))
INSERT [dbo].[Reservations] ([ReservationID], [HotelID], [GuestID], [RoomTypeID], [RoomID], [CheckInDate], [CheckOutDate], [Notes], [Status], [Source], [CreatedBy], [CreatedAt]) VALUES (3, 2, 3, 3, 6, CAST(N'2025-10-05' AS Date), CAST(N'2025-10-07' AS Date), N'Đặt qua iCal', N'Checked-out', N'iCal', 3, CAST(N'2025-10-06T22:55:45.667' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomName], [Status], [Notes], [CreatedAt], [LinkIcal]) VALUES (1, 1, 1, N'STD-101', N'Available', N'https://nobeds.app/ICAL/Exportas?room_id=2515465', CAST(N'2025-10-06T22:55:45.647' AS DateTime), NULL)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomName], [Status], [Notes], [CreatedAt], [LinkIcal]) VALUES (2, 1, 1, N'STD-102', N'Available', N'https://nobeds.app/ICAL/Exportas?room_id=2515465', CAST(N'2025-10-06T22:55:45.647' AS DateTime), NULL)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomName], [Status], [Notes], [CreatedAt], [LinkIcal]) VALUES (3, 1, 2, N'DLX-201', N'Maintenance', N'https://nobeds.app/ICAL/Exportas?room_id=2515465', CAST(N'2025-10-06T22:55:45.647' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [HotelID], [TypeName], [RoomCount], [ICalLink], [CreatedAt]) VALUES (1, 1, N'Standard Room', 10, N'https://ical.sunrisehotel.com/standard.ics', CAST(N'2025-10-06T22:55:45.620' AS DateTime))
INSERT [dbo].[RoomTypes] ([RoomTypeID], [HotelID], [TypeName], [RoomCount], [ICalLink], [CreatedAt]) VALUES (2, 1, N'Deluxe Room', 5, N'https://ical.sunrisehotel.com/deluxe.ics', CAST(N'2025-10-06T22:55:45.620' AS DateTime))
INSERT [dbo].[RoomTypes] ([RoomTypeID], [HotelID], [TypeName], [RoomCount], [ICalLink], [CreatedAt]) VALUES (3, 2, N'Bungalow', 8, N'https://ical.blueoceanresort.com/bungalow.ics', CAST(N'2025-10-06T22:55:45.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Guests_FullName]    Script Date: 10/16/2025 1:55:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Guests_FullName] ON [dbo].[Guests]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HotelUse__536C85E4800FFFA6]    Script Date: 10/16/2025 1:55:20 PM ******/
ALTER TABLE [dbo].[HotelUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_Hotel_CheckInDate]    Script Date: 10/16/2025 1:55:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Hotel_CheckInDate] ON [dbo].[Reservations]
(
	[HotelID] ASC,
	[CheckInDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_Status]    Script Date: 10/16/2025 1:55:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Status] ON [dbo].[Reservations]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Hotels] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Hotels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HotelUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HotelUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ICalSyncLog] ADD  DEFAULT (getdate()) FOR [SyncTime]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Booked') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Manual') FOR [Source]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RoomTypes] ADD  DEFAULT ((0)) FOR [RoomCount]
GO
ALTER TABLE [dbo].[RoomTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HotelUsers]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[ICalSyncLog]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[ICalSyncLog]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[HotelUsers] ([UserID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([GuestID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[RoomTypes]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[HotelUsers]  WITH CHECK ADD CHECK  (([Role]='Receptionist' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Checked-out' OR [Status]='Checked-in' OR [Status]='Booked'))
GO
USE [master]
GO
